{% extends "base.html" %}

{% block content %}

<p><a href="{% url 'seriados:reviewepisodio_insert' %}">Inserir Revisão de Episódio</a></p>

<h1>Lista de Revisões de Episódios</h1>

<table class="table table-hover table-striped">
    <tr>
        <th>Episódio</th>
        <th>Revisor</th>
        <th>Nota</th>
        <th>Detalhes</th>
        <th colspan="2">Ações</th>
    </tr>

    {% for object in object_list %}
        <tr>
            <td>{{ object.episodio }}</td>
            <td>{{ object.revisor }}</td>
            <td>{{ object.nota }}</td>
            <td><a href="{% url 'seriados:reviewepisodio_details' pk=object.pk %}">Ver...</a></td>
            <td><a href="{% url 'seriados:reviewepisodio_update' pk=object.pk %}">Editar...</a></td>
            <td><a href="{% url 'seriados:reviewepisodio_delete' pk=object.pk %}">Deletar...</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}