{% extends "base.html" %}

{% block content %}
<p><a href={% url 'seriados:home' %}>Home</a></p>

<h3>Procurar {{ title }}</h3>

<input id='input_search' type="text" placeholder="Search..">
<button id="btn_search">Procurar {{ title }}</button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#btn_search").click(function() {
            search = $("#input_search").val();
            url = '{% url list_url %}' + '?' +
                $.param({search:search});
            window.location.href = url;
        });
    });
</script>

<p><a href='{% url insert_url %}'>Inserir {{ title }}</a></p>

<h1>Lista de {{ title }}</h1> 

<table class="table table-hover table-striped">
    <tr>
        {% for label in labels %}
            <th>{{ label }}</th>
        {% endfor %}
        <th>Detalhes</th>
        <th colspan="2">Ações</th>
    </tr>

    {% for row in rows %}
        <tr>
            {% for value in row.data %}
                <td>{{ value }}</td>
            {% endfor %}
            <td><a href="{% url detail_url pk=row.pk %}">Ver...</a></td>
            <td><a href="{% url update_url pk=row.pk %}">Editar...</a></td>
            <td><a href="{% url delete_url pk=row.pk %}">Deletar...</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}