{% extends "base.html" %}

{% block content %}
<p><a href={% url 'seriados:home' %}>Home</a></p>

<p><a href={% url 'seriados:revisor_insert' %}>Inserir Revisor</a></p>

<h1>Lista de Revisores</h1>

<table border="1px">
    <tr>
        <th>User</th>
        <th>Reviews</th>
        <th>Detalhes</th>
        <th colspan="2">Ações</th>
    </tr>

    {% for object in object_list %}
        <tr>
            <td>{{ object.user }}</td>
            <td>{{ object.reviews_episodios }}</td>
            <td><a href="{% url 'seriados:revisor_details' pk=object.pk %}">Ver...</a></td>
            <td><a href="{% url 'seriados:revisor_update' pk=object.pk %}">Editar...</a></td>
            <td><a href="{% url 'seriados:revisor_delete' pk=object.pk %}">Deletar...</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}